
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title" id="attractionName">{{attraction.nom}}</h3>
      <p class="card-text" id="attractionDescription">{{attraction.description}}</p>
      <p class="card-text"><strong>Difficulty:</strong> <span id="attractionDifficulty">{{attraction.rating}}</span> / 5</p>

      <!-- Add Rating Popover -->
      <button id="addRatingBtn" type="button" class="btn btn-primary" data-bs-toggle="popover" title="Add your rating" data-bs-content="You can rate this attraction from 1 to 5">
        Add Rating
      </button>

      <!-- Display Rating History -->
      <div class="mt-4">
        <h5>Rating History</h5>

        <ul id="ratingHistory" class="list-group">
          <ng-container *ngFor="let review of reviews| async;">
            <li class="list-group-item"><strong>{{review.name}} {{review.surname}}</strong> - Rating: {{review.rating}} / 5 <p>{{review.comment}}</p></li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="popoverContent" style="display: none;">
  <div>
    <label for="nameInput">First Name:</label>
    <input type="text" id="nameInput" class="form-control mb-3" placeholder="Enter your first name">
  </div>
  <div>
    <label for="surnameInput">Surname:</label>
    <input type="text" id="surnameInput" class="form-control mb-3" placeholder="Enter your surname">
  </div>
  <div>
    <label for="ratingInput">Rate the Attraction:</label>
    <input type="number" id="ratingInput" min="1" max="5" class="form-control mb-3" placeholder="Rate from 1 to 5">
  </div>
  <div>
    <label for="commentInput">Comment (optional):</label>
    <textarea id="commentInput" rows="3" class="form-control mb-3" placeholder="Write a comment (optional)"></textarea>
  </div>
  <button class="btn btn-success" id="submitRatingBtn">Submit Rating</button>
</div>