<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 5px; margin-right: 5px;">
  <a class="navbar-brand" routerLink="/accueil" i18n>Amusement park</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/accueil" i18n>Home</a>
      </li>
      <li class="nav-item active" *ngIf="authService.isLoggedIn">
        <a class="nav-link" routerLink="/admin" i18n>Admin</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav ml-auto">
    <li *ngIf="authService.isLoggedIn">
      <button (click)="logout()" class="btn btn-primary" i18n>Logout</button>
    </li>
    <li *ngIf="!authService.isLoggedIn">
      <a routerLink="/login" class="btn btn-primary" i18n>Login</a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>