<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 5px; margin-right: 5px;">
  <a class="navbar-brand" routerLink="/accueil">{{ 'app.titlebar.name' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <select (change)="switchLanguage($event)"> 
    <option value="en" [selected]="currentLang === 'en'">English</option>
    <option value="fr" [selected]="currentLang === 'fr'">Français</option>
  </select>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/accueil">{{ 'app.titlebar.home' | translate }}</a>
      </li>
      <li class="nav-item active" *ngIf="authService.isLoggedIn">
        <a class="nav-link" routerLink="/admin">{{ 'app.titlebar.admin' | translate }}</a>
      </li>
    </ul> 
  </div>
  <ul class="navbar-nav ml-auto d-flex items-center"> 
    <li *ngIf="authService.isLoggedIn">
      <button (click)="logout()" class="btn btn-primary">{{ 'app.titlebar.logout' | translate }}</button>
    </li>
    <li *ngIf="!authService.isLoggedIn">
      <a routerLink="/login" class="btn btn-primary">{{ 'app.titlebar.login' | translate }}</a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>