<div class="w-full m-5">
  <h5 class="h5">
    {{ 'admin.catchphrase' | translate }}
  </h5>
  <button class="btn btn-primary mt-3 mb-5" (click)="open(content)">{{ 'admin.subtitle' | translate }}</button>
  <div class="">
    <ng-container *ngIf="attractions | async">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>{{ 'admin.table.attractionName' | translate }}</th>
            <th>{{ 'admin.table.description' | translate }}</th>
            <th>{{ 'admin.table.difficulty' | translate }}</th>
            <th>{{ 'admin.table.visibility' | translate }}</th>
            <th>{{ 'admin.table.actions' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let formulaireAttraction of formulaireAttractions; let indexForm = index;"
            [formGroup]="formulaireAttraction">
            <tr>
              <td>
                <input type="text" class="form-control" formControlName="nom">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="description">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="difficulte">
              </td>
              <td class="text-center">
                <input class="form-check-input" type="checkbox" formControlName="visible">
              </td>
              <td>
                <button class="btn btn-success" (click)="onSubmit(formulaireAttraction)">{{ 'admin.table.save' | translate }}</button>
                <button class="btn btn-danger mx-2" (click)="openDeleteModal(delete, formulaireAttraction.getRawValue().attraction_id)">{{ 'admin.table.delete' | translate }}</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>


<ng-template #content let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ 'admin.addModal.addAttraction' | translate }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div> 
 
	<div class="modal-body">
		<form>
      <div> 
        <label for="nomInput">{{ 'admin.addModal.name' | translate }}</label> 
        <input [(ngModel)]="newAttraction.nom" type="text" id="nomInput" name="nom" class="form-control mb-3" placeholder="{{ 'admin.addModal.addAtractionPlaceholder' | translate }}">
      </div>
      <div>
        <label for="difficulteInput">{{ 'admin.addModal.difficulty' | translate }}</label>
        <input [(ngModel)]="newAttraction.difficulte" type="number" name="difficulte" id="difficulteInput" min="1" max="5" class="form-control mb-3" placeholder="{{ 'admin.addModal.difficultyPlaceholder' | translate }}">
      </div>
      <div>
        <label for="visibleInput" class="d-block">{{ 'admin.addModal.visibility' | translate }}</label> 
        <input type="checkbox" [(ngModel)]="newAttraction.visible" name="visible" id="visibleInput" rows="3" class="form-check-input mb-3">
      </div>
      <div>
        <label for="descriptionInput">{{ 'admin.addModal.description' | translate }}</label>
        <textarea [(ngModel)]="newAttraction.description" name="description" id="descriptionInput" rows="3" class="form-control mb-3" placeholder="{{ 'admin.addModal.descriptionPlaceholder' | translate }}"></textarea>
      </div>
		</form>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Cross click')">{{ 'admin.addModal.cancel' | translate }}</button>
		<button type="button" class="btn btn-primary" (click)="modal.close('Save click')">{{ 'admin.addModal.create' | translate }}</button>
	</div>
</ng-template>



<ng-template #delete let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ 'admin.deleteModal.attractionDeletion' | translate }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>

	<div class="modal-body">
    <p>{{ 'admin.deleteModal.warning1' | translate }}</p>
    <p>{{ 'admin.deleteModal.warning2' | translate }}</p>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">{{ 'admin.deleteModal.cancel' | translate }}</button>
		<button type="button" class="btn btn-danger" (click)="modal.close('Save click')">{{ 'admin.deleteModal.delete' | translate }}</button>
	</div>
</ng-template>