<div class="card">
  <div class="card-header">
    <h5 class="card-title"i18n>
      Admin page to add, edit and delete attractions
    </h5>
  </div>
  <button class="btn btn-primary" (click)="addAttraction()"i18n>Ajouter</button>,
  <div class="card-body">
    <ng-container *ngIf="attractions | async">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th i18n>Name of the attraction</th>
            <th i18n>Description</th>
            <th i18n>Difficulty / 5</th>
            <th i18n>Visible</th>
            <th i18n>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let formulaireAttraction of formulaireAttractions; let indexForm = index;"
            [formGroup]="formulaireAttraction">
            <tr>
              <td>
                <input type="text" class="form-control" formControlName="nom">
              </td>
              <td>
                <input type="text" class="form-control" formControlName="description">
              </td>
              <td>
                <input type="number" class="form-control" formControlName="difficulte">
              </td>
              <td class="text-center">
                <input class="form-check-input" type="checkbox" formControlName="visible">
              </td>
              <td>
                <button class="btn btn-success" (click)="onSubmit(formulaireAttraction)" i18n>Save</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>