<div class="card">
  <div class="card-header">
    <h5 class="card-title" i18n>Welcome hte the amusement park website</h5>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th i18n>Attraction name</th>
          <th i18n>Description</th>
          <th i18n>Difficulty / 5</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let attraction of attractions | async;">
          <tr *ngIf="attraction.visible">
            <td>{{attraction.nom}}</td>
            <td>{{attraction.description}}</td>
            <td>{{attraction.difficulte}} / 5</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
