<div class="w-full m-4">
  <h1 class="h1">{{ 'home.catchphrase' | translate }}</h1>
  <h1 class="h2 mb-4">{{ 'home.attractionlist' | translate }}</h1>
  
  <div class="d-flex w-full gap-3">
    <ng-container *ngFor="let attraction of attractions | async;">
      <div *ngIf="attraction.visible" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{attraction.nom}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ 'home.difficultydisplay' | translate:{value: attraction.difficulte} }}</h6>
          <h6 class="card-text">{{attraction.description}}</h6>
          <a (click)="router.navigate(['attractions', attraction.attraction_id])" class="btn btn-primary">{{ 'home.readmore' | translate }}</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>

